{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- <img src="{% static 'images/HEADER BANNER.png' %}"
     class="img-fluid w-100 mb-5"> -->

<!-- <h1 class="text-center">About Us</h1> -->
<div class="container mt-5 p-5 rounded"
     style="background-color: #e34a70;">

    <h1 class="text-center mb-4">
        About TrendKart
    </h1>

    <p class="text-center">
        Welcome to TrendKart, your one-stop destination for fashion,
        electronics, beauty and lifestyle products.
    </p>

    <p class="text-center">
        Our mission is to provide high-quality products
        at affordable prices with an amazing shopping experience.
    </p>

</div>

{% endblock %}